XML_Schema/src/canciones.dtd

<!ELEMENT canciones (cancion)*>
<!ELEMENT cancion (duracion|anio|titulo|compositores|productores|sello|artista)*>
<!ELEMENT duracion (#PCDATA)>
<!ELEMENT anio (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT compositores (compositor)*>
<!ELEMENT compositor (nombres|apellidos)*>
<!ELEMENT nombres (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT productores (productor)*>
<!ELEMENT productor (nombres|apellidos)*>
<!ELEMENT sello (#PCDATA)>
<!ELEMENT artista (#PCDATA)>